// bower:scss
// endbower

// Sass Vars
$main-grey: #999;
$black: #333;
// $blue: #428BCA; 
$blue: rgb(111, 154, 175);
$paper: #FCFDF9;
$total-margin: 60px;
$extend-margin: 20px;

html,body{width: 100%; margin: 0;}
*{box-sizing: border-box}

body {
  font-size: 100%;
  background: #fafafa;
  font-family: Inconsolata, Courier, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-image: url("../images/kindajean.png");
  a{
    color: $main-grey;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
      color: $blue;
    }
  }
}

.comet{
  width: 2px;
  height: 2px;
  background-color: #888;
  position: absolute;
  z-index: 10;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#main-column{
  background-color: $paper;
  position: relative;
  z-index: 20;
  margin: 35px auto 40px auto;
  width: 100%;
  max-width: 920px;
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.3rem;
  padding: 25px 60px 40px;
  border: 1px solid $main-grey;
  outline: 4px solid $paper;
  box-shadow: 0px 2px 10px #000;
  .section{
    margin-bottom: 60px;
    .entry{
      margin-bottom: 40px;
    }
    .section-title{
      padding-left: 20px;
      border-bottom: 2px dotted;
      color: $main-grey;
      padding-bottom: 0px;
      letter-spacing: .2rem;
      font-size: 1.2rem;
      font-weight: normal;
    }
    .contents{
      margin: 0px $extend-margin;
      .job-title{
        font-size: 1.5rem;
        color: $black;
        margin-bottom: -5px;
        .position{
          display: inline;
        }
        .at{
          display: inline;
          font-size: 1rem;
          letter-spacing: 1px;
          margin-right: .5rem;
          margin-left: .5rem;
        }
        .employer{
          display: inline;
          font-size: 1.4rem;
          color: $main-grey;
          text-decoration: none;
        }
        a.employer{
          img.external-link{
            margin-left: 4px;
            margin-bottom: 4px;
            opacity: .5;
          }
          &:hover{
            color: $blue;
            img.external-link{
              opacity: 1;
            }
          }
        }
      }
      .description{
        margin-top: 10px;
        margin-bottom: 10px;
        .middot{
          display: inline;
          margin: 5px;
        }
        .logo{
          float: right;
          max-heigt: 100px;
          max-width: 100px;
          margin-left: 13px;
        }
      }
      .dates{
        display: inline;
        font-size: 14px;
        color: $main-grey;
        font-weight: normal;
        .middot{
          font-weight: 20px;
          display: inline;
        }
      }
      .logo{
        text-align: center;
        img{
          max-width: 100px;
          max-height: 100px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

#identity{
  text-align: center;
  margin-bottom: 30px;
  #icon{
    display: inline-block;
    max-width: 85%;
    // padding-right: 45px;
    img{
      width: 100%;
      max-width: 508px;
      max-height: 239px;
    }
  }
  #name{
    font-size: 4rem;
    line-height: 1;
    letter-spacing: -1px;
    margin: 0px;
  }
  #tagline{
    position: relative;
    display: inline-block;
    font-size: 1.6rem;
    margin-top: 1rem;
    .sup{
      position: absolute;
      top: -4px;
      right: -4px;
      font-size: 1.8rem;
    }
  }
  #subtag{
    color: $main-grey;
    font-size: .8rem;
    margin-top: .4rem;
  }
  #links{
    margin-top: .4rem;
    font-size: 1rem;
    .middot{
      display: inline;
      margin-right: .4rem;
      margin-left: .4rem;
      &:last-child{
        display: none;
      }
    }
  }
}

.tag{
  font-family: Courier;
  display: inline-block;
  background-color: $blue;
  border-radius: 4px;
  padding: 0.0rem .2rem;
  color: white;
  font-size: 11px;
  letter-spacing: 1px;
}
.tags{
  .tag{
    // margin-right: .5rem;
    margin-bottom: .5rem;
  }
}
.expertise{
  .tag{
    margin: -4px;
  }
}

.project-icons{
  .project-icon{
    max-width: 150px;
    max-height: 150px;
    box-sizing: content-box;
    display: inline-block;
    border: 1px solid $black;
    margin-right: 20px;
    text-decoration: none;
    transition: all .25s ease-in-out;
    &:hover{
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
  .count-my-stack{
    display: block;
    font-family: "Terminal Dosis";
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 37px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
    text-shadow: 0px 1px 1px #2A2A2A;
    vertical-align: middle;
    background: linear-gradient(135deg, #10A1A7 0%, #ED3D47 100%) repeat scroll 0% 0% transparent;
  }
}

.view-on-github{
  text-align: center;
}

// Mobile
@media screen and (max-width: 770px){
  #main-column{
    margin: 0;
    padding: 2em .5em;
  }
  #identity{
    #name{
      font-size: 2em;
    }
  }
  .section{
    font-size: .95rem;
  }
  .job-title{
    font-size: 1rem;
    letter-spacing: -1px;
    .position{
      display: block!important;
    }
    .at{
      margin-left: 0!important;
    }
    .employer{
    }
  }
  .project-icon{
    max-width: 120px!important;
    max-height: 120px!important;
    margin-bottom: 20px;
  }
}
